{% extends 'base.html' %} {% load static %} {% block body %}
<section class="page_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-uppercase">Menu</h2>
                <p>Tomato is a delicious restaurant website template</p>
            </div>
        </div>
    </div>
</section>

<section class="menu menu2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header wow fadeInDown">
                    <h1>Overlay<small>These fine folks trusted the award winning restaurant.</small></h1>
                </div>
            </div>
        </div>
        <div class="food-menu wow fadeInUp">
            <div class="row">
                <div class="col-md-12">


                    <div class="menu-tags2">
                        <span data-filter="*" class="tagsort2-active">All</span> {% for i in cat %}
                        <span data-filter=".{{i}}">{{i.name}}</span> {% endfor %}
                    </div>
                </div>

            </div>

            <div class="row menu-items2">
                {% for i in dish %}
                <div class="menu-item2 col-sm-4 col-xs-12 starter dinner {{i.cat}}">
                    <div class="menu-info">
                        <img src="{{ i.img.url }}" style="height: 300px;" class="img-responsive" alt="" />
                        <a href="{% url 'menusingle' i.id %}">
                            <div class="menu2-overlay">
                                <h4>{{i.title}}</h4>
                                <p>{{i.dis |slice:":100" }}</p>
                                <span class="price">&#8377;{{i.price}}</span>
                            </div>
                        </a>
                    </div>
                    <a href="{% url 'menusingle' i.id %}" class="menu-more">+</a>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>


{% endblock body %}